.App {
  text-align: center;
}

.img_wrapper img {
  width: 100px;
  margin-top: -10px;
}

.btn_wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  box-shadow: #333 0px 1px 5px;
}

.cart_wrapper {
  height: 150px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.item {
  float: left;
  display: inline;
  width: 120px;
  padding: 20px;
  height: 70px;

}

.add_to_cart img {
  width: 50px;
  position: absolute;
  right: 1%;
  top: 3%;
  background-color: brown;
}